.nav.justify-content-end {
    background-color: black;
}
a {
    color: white;
    padding: 20px!important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.contact {
    padding-right: 200px;
}
.jumbotron {
    background-image: url(../images/headerbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0!important;
  }
h1 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.btn1 {
    background-color: black;
    color: #70C4FB;
    height: 50px;
}
.button {
    padding-top: 30px;
    text-align: center;
}
.card {
    display: inline-block;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #F2BBFE;
}
.background {
    background-color:black;
}
.row1 {
    text-align: center;
    padding-bottom: 100px;
}
.spotless {
    display: inline-block;
    padding-right: 200px;
}
.hope {
    display: inline-block;
    padding-left: 200px;
}
.row2 {
    text-align: center;
    padding-bottom: 100px;
}
.item3 {
    display: inline-block;
    padding-right: 200px;
}
.item4 {
    display: inline-block;
    padding-left: 200px;
}
h5 {
    font-family: 'Montserrat', sans-serif;
}
.btn2 {
    background-color: #8762F3;
    padding-top: 20px;
}
p.card-text {
    padding-bottom: 20px;
}
.btn3 {
    background-color:#70C4FB;
}
.jumbotron2 {
    background-image: url(../images/footerbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.headshot {
    text-align: center;
    padding-top: 20px;
}
.background3 {
    display: inline-block;
    text-align: center;
    background-color:black;
    height: 300px;
    width: 600px;
    border-radius: 5px;
    padding-top: 30px;

}
.contact-about {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}
h3 {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
p.about-contact-info {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: left;
    padding: 20px;
    font-size: 18px;
}
.contact-info {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}
ul {
    list-style-type: none;
}
p.mb-0 {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.blockquote {
    padding-top: 25px;
    padding-bottom: 40px;
}
.blockquote-footer {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}